{
   "parser": "babel-eslint",
   "plugins": [
      "react",
      "import"
   ],
   "settings": {
      "import/resolver": {
         "webpack": {
            "config": "webpack.config.js"
         }
      }
   },
   "rules": {
      "max-len": [1, 120, 2, {ignoreComments: true}],
      "prop-types": [2],
      "indent": ["error", 3],
      "arrow-body-style": ["error", "always"],
      "import/prefer-default-export": ["warn"],
      "comma-dangle": ["error", "never"]
   },
   "extends": ["airbnb-base"]
}