
html, body {
	margin:0;
	padding:0;
	height:100%; 
} 
#root { 
	position:absolute; 
	display:block;
	height:100%; 
	width:100%;
}
 
 .horizontal {
   height:100%;
   width:100%;
   overflow: hidden;
}

.horizontalChild {
   float: left;
   width:25%;
}
