<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Index</title>
<link th:href="@{/resources/style.css}" rel="stylesheet" />
<link th:href="@{/resources/style_base.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>

   <div id="root"></div>

   <script th:src="@{/resources/vendor.bundle.js}"></script>
   <script th:src="@{/resources/bundle.js}"></script>

</body>
</html>