<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Index</title>
<link rel="stylesheet" th:href="@{/resources/style.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
 <style type="text/css">
 html, body {
    margin:0;
    padding:0;
    height:100%; 
 } 
 #root { 
    position:absolute; 
    display:block;
    height:100%; 
    width:100%;
 }
 </style>
<body>

   <div id="root"></div>

   <script th:src="@{/resources/vendor.bundle.js}"></script>
   <script th:src="@{/resources/bundle.js}"></script>

</body>
</html>