<!DOCTYPE html>

<html lang="en">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <table class="table table-striped display" dt:table="true">
         <thead>
            <tr>
               <th>Team</th>
               <th dt:property="position">Role</th>
               <th dt:property="attributes.move">Move</th>
               <th dt:property="attributes.strength">Strength</th>
               <th dt:property="attributes.speed">Speed</th>
               <th dt:property="attributes.skill">Skill</th>
               <th dt:property="attributes.armor">Armor</th>
               <th>Notes</th>
               <th dt:property="cost">Cost</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="player : ${players}">
               <td></td>
               <td th:text="${player?.position}">Jack</td>
               <td th:text="${player?.attributes?.movement}">5</td>
               <td th:text="${player?.attributes?.strength}">5+</td>
               <td th:text="${player?.attributes?.speed}">3+</td>
               <td th:text="${player?.attributes?.skill}">4+</td>
               <td th:text="${player?.attributes?.armor}">4+</td>
               <td></td>
               <td dt:property="player?.cost">9mc</td>
            </tr>
         </tbody>
      </table>
   </section>

   <footer class="container-fluid"
      th:include="fragments/footer :: footer" />
</body>

</html>
