<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <header class="page-header">
         <h1 th:text="#{application.title}">Webapp Title</h1>
      </header>

      <section id="game_selection">
         <div class="row">
            <h2 th:text="#{main.pick.game}">Pick a game</h2>
            <div class="btn-group" role="group" aria-label="Choose game">
               <button type="button" class="btn btn-default"
                  id="dreadball_xtreme" th:text="#{dreadball.dbx.title}">DBX</button>
            </div>
         </div>
      </section>
   </section>

   <footer class="container-fluid"
      th:include="fragments/footer :: footer" />
</body>

</html>
