<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <table class="table table-striped display dataTable">
         <thead>
            <tr>
               <th>Unit name</th>
               <th>Role</th>
               <th>Move</th>
               <th>Strength</th>
               <th>Speed</th>
               <th>Skill</th>
               <th>Armor</th>
               <th>Abilities</th>
               <th>Affinities</th>
               <th>Hated affinities</th>
               <th>Stranger cost</th>
               <th>Ally cost</th>
               <th>Friend cost</th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="player : ${players}">
               <td th:text="${player?.templateName}">Template name</td>
               <td th:text="${player?.role}">Jack</td>
               <td th:text="${player?.attributes?.movement}">5</td>
               <td th:text="${player?.attributes?.strength}">5+</td>
               <td th:text="${player?.attributes?.speed}">3+</td>
               <td th:text="${player?.attributes?.skill}">4+</td>
               <td th:text="${player?.attributes?.armor}">4+</td>
               <td><span th:remove="tag"
                  th:each="ability,iterStat : ${player?.abilities}"
                  th:text="${iterStat.count &lt; #lists.size(player.abilities)}? ${ability.name} + ', ' : ${ability.name}">Ability</span></td>
               <td><span th:remove="tag"
                  th:each="affinity,iterStat : ${player?.affinityGroups}"
                  th:text="${iterStat.count &lt; #lists.size(player.affinityGroups)}? ${affinity.name} + ', ' : ${affinity.name}">Affinity</span></td>
               <td><span th:remove="tag"
                  th:each="hatedAffinity,iterStat : ${player?.hatedAffinityGroups}"
                  th:text="${iterStat.count &lt; #lists.size(player.hatedAffinityGroups)}? ${hatedAffinity.name} + ', ' : ${hatedAffinity.name}">Hated
                     affinity</span></td>
               <td th:text="${player?.strangerCost}">10</td>
               <td th:text="${player?.allyCost}">20</td>
               <td th:text="${player?.friendCost}">30</td>
            </tr>
         </tbody>
      </table>
   </section>

   <footer>
      <div class="container-fluid"
         th:include="fragments/footer :: footer" />
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>
