<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
   
   <a class="btn btn-default pull-right"
               th:href="@{/builder/team/dbx/pdf}" role="button">PDF</a>

      <form role="form">
         <div class="panel panel-default">
            <div class="panel-body">
               <div class="form-group col-sm-6">
                  <label class="control-label" for="sponsorName"
                     th:text="#{label.name}">Name</label>
                  <div class="col-sm-10">
                     <input class="form-control" id="sponsorName"
                        th:value="${sponsor?.name}">
                  </div>
               </div>
               <div class="form-group col-sm-6">
                  <label for="teamValue" class="col-sm-3 control-label"
                     th:text="#{label.teamValue}">Team value</label>
                  <div class="col-sm-9">
                     <input class="form-control" id="teamValue"
                        th:value="${team?.valoration}" disabled>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading" th:text="#{label.rank}">Rank</div>
            <div class="panel-body">
               <div class="form-group col-sm-6">
                  <label for="rank" class="col-sm-3 control-label"
                     th:text="#{label.rank}">Rank</label>
                  <div class="col-sm-9">
                     <input class="form-control" id="rank"
                        th:value="${team?.sponsor?.rank}" disabled>
                  </div>
               </div>
               <div class="form-group col-sm-6">
                  <label for="spentRank" class="col-sm-3 control-label"
                     th:text="#{label.spentRank}">Spent rank</label>
                  <div class="col-sm-9">
                     <input class="form-control" id="spentRank"
                        th:value="${team?.rankCost}" disabled>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading" th:text="#{label.assets}">Assets</div>
            <div class="panel-body">
               <div class="form-group col-md-12">
                  <div class="form-group col-md-2">
                     <label for="dice" class="control-label"
                        th:text="#{label.asset.coachingDice}">Coaching
                        Dice</label> <input type="number"
                        th:value="${team?.coachingDice}" id="dice"
                        class="form-control input-sm">
                  </div>
                  <div class="form-group col-md-2">
                     <label for="moveCards" class="control-label"
                        th:text="#{label.asset.specialMove}">Special
                        Move Card</label> <input type="number"
                        th:value="${team?.specialMoveCards}"
                        id="moveCards" class="form-control input-sm">
                  </div>
                  <div class="form-group col-md-2">
                     <label for="sabotageCards" class="control-label"
                        th:text="#{label.asset.sabotage}">Sabotage
                        Card</label> <input type="number"
                        th:value="${team?.sabotageCards}"
                        id="sabotageCards" class="form-control input-sm">
                  </div>
                  <div class="form-group col-md-2">
                     <label for="wagers" class="control-label"
                        th:text="#{label.asset.wager}">Wager</label> <input
                        type="number" th:value="${team?.wagers}"
                        id="wagers" class="form-control input-sm">
                  </div>
                  <div class="form-group col-md-2">
                     <label for="cheerleaders" class="control-label"
                        th:text="#{label.asset.cheerleaders}">Cheerleaders</label>
                     <input type="number"
                        th:value="${team?.cheerleaders}"
                        id="cheerleaders" class="form-control input-sm">
                  </div>
                  <div class="form-group col-md-2">
                     <label for="medibots" class="control-label"
                        th:text="#{label.asset.mediBots}">Medi-bots</label>
                     <input type="number" th:value="${team?.mediBots}"
                        id="medibots" class="form-control input-sm">
                  </div>
               </div>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading" th:text="#{label.players}">Players</div>
            <div class="panel-body">
               <table id="teamUnits" class="table table-striped">
                  <thead>
                     <tr>
                        <th></th>
                        <th th:text="#{label.number}">Number</th>
                        <th th:text="#{label.name}">Name</th>
                        <th th:text="#{label.type}">Type</th>
                        <th th:text="#{label.role}">Role</th>
                        <th th:text="#{label.attribute.move}">Move</th>
                        <th th:text="#{label.attribute.strength}">Strength</th>
                        <th th:text="#{label.attribute.speed}">Speed</th>
                        <th th:text="#{label.attribute.skill}">Skill</th>
                        <th th:text="#{label.attribute.armor}">Armor</th>
                        <th th:text="#{label.abilities}">Abilities</th>
                        <th th:text="#{label.value}">Value</th>
                     </tr>
                  </thead>
                  <tfoot>
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${team?.valoration}">84</td>
                     </tr>
                  </tfoot>
                  <tbody>
                     <tr th:each="player : ${team?.players}">
                        <td>9</td>
                        <td th:text="#{${player?.templateName}}">Unit
                           name</td>
                        <td th:text="#{${player?.templateName}}">Template
                           name</td>
                        <td
                           th:text="#{${player?.role?.toString().toLowerCase()}}">Jack</td>
                        <td th:text="${player?.attributes?.movement}">5</td>
                        <td th:text="${player?.attributes?.strength}">5+</td>
                        <td th:text="${player?.attributes?.speed}">3+</td>
                        <td th:text="${player?.attributes?.skill}">4+</td>
                        <td th:text="${player?.attributes?.armor}">4+</td>
                        <td><span th:remove="tag"
                           th:each="ability,iterStat : ${player?.abilities}"
                           th:with="index=${iterStat.count}"> <span
                              class="tooltip-text" data-toggle="tooltip"
                              data-placement="top"
                              th:title="#{${ability.name}+'.description'}"
                              th:text="#{${ability.name}}">Ability</span><span
                              th:remove="tag"
                              th:if="${index &lt; #lists.size(player.abilities)}"
                              th:text="', '"></span>
                        </span></td>
                        <td th:text="${player?.cost}">10</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading" th:text="#{label.addPlayer}">Add
               players</div>
            <div class="panel-body">
               <div class="row">
                  <div class="col-md-12">
                     <h2 th:text="#{label.availablePlayers}">Available
                        players</h2>
                     <table id="availableUnits"
                        class="table table-striped display dataTable">
                        <thead>
                           <tr>
                              <th class="hidden no-sort">Template</th>
                              <th class="no-sort"></th>
                              <th th:text="#{label.player}">Player</th>
                              <th th:text="#{label.role}">Role</th>
                              <th th:text="#{label.attribute.move}">Move</th>
                              <th th:text="#{label.attribute.strength}">Strength</th>
                              <th th:text="#{label.attribute.speed}">Speed</th>
                              <th th:text="#{label.attribute.skill}">Skill</th>
                              <th th:text="#{label.attribute.armor}">Armor</th>
                              <th th:text="#{label.abilities}">Abilities</th>
                              <th th:text="#{label.cost}">Cost</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr th:each="player : ${availablePlayers}">
                              <td th:text="${player?.templateName}">Template
                                 name</td>
                              <td><i
                                 class="fa fa-plus-circle table-action addPlayer"
                                 aria-hidden="true"></i></td>
                              <td><span th:remove="tag"
                                 th:text="#{${player?.templateName}}">Template
                                    name</span><span th:remove="tag"
                                 th:if="${player?.giant} == true">
                                    <i class="fa fa-arrow-up"
                                    aria-hidden="true"></i>
                              </span></td>
                              <td
                                 th:text="#{${player?.role?.toString().toLowerCase()}}">Jack</td>
                              <td
                                 th:text="${player?.attributes?.movement}">5</td>
                              <td
                                 th:text="${player?.attributes?.strength}">5+</td>
                              <td th:text="${player?.attributes?.speed}">3+</td>
                              <td th:text="${player?.attributes?.skill}">4+</td>
                              <td th:text="${player?.attributes?.armor}">4+</td>
                              <td><span th:remove="tag"
                                 th:each="ability,iterStat : ${player?.abilities}"
                                 th:with="index=${iterStat.count}">
                                    <span class="tooltip-text"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    th:title="#{${ability.name}+'.description'}"
                                    th:text="#{${ability.name}}">Ability</span><span
                                    th:remove="tag"
                                    th:if="${index &lt; #lists.size(player.abilities)}"
                                    th:text="', '"></span>
                                    <td th:text="${player?.cost}">10</td>
                              </span></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </section>

   <footer>
      <div class="container-fluid"
         th:include="fragments/footer :: footer" />
      <div th:include="fragments/scripts :: general" />
      <div th:include="fragments/scripts :: dbx-teamEdit" />
   </footer>
</body>

</html>
